

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $body-bg;
  min-height: 100vh;
}
.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}
.main {
  flex: 1 1;
  min-width: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  height: $navbar-height;
}
.navbar {
  background: map_get($theme-colors, 'primary');//$primary;
  box-shadow: 0px 0px 3px 1px;  
}
.banner{
  margin-top: $navbar-height;
  height: $banner-height;
}
.inner-conatiner{
  margin-top: 16px;
}




