.sidebar {
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: $sidebar-color;
  background: $sidebar-bg;
  margin-left: - $sidebar-width;

  .nav {
    width: $sidebar-width;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
  }
  .nav-item {
    position: relative;
    margin: 0;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: $sidebar-color;
    text-decoration: none;
    background: $sidebar-nav-link-bg;
    &.active {
      background: $sidebar-nav-link-active-bg;
      .nav-icon {
        color: $sidebar-nav-link-active-icon-color;
      }
    }
    .nav-icon {
      display: inline-block;
      width: 1.09375rem;
      margin: 0 0.5rem 0 0;
      font-size: 0.875rem;
      color: $sidebar-nav-link-icon-color;
      text-align: center;
    }
    .badge {
      float: right;
      margin-top: 2px;
    }
    &:hover {
      color: $sidebar-nav-link-color;
      background: $sidebar-nav-link-hover-bg;
      .nav-icon {
        color: $sidebar-nav-link-color;
      }
      &.nav-dropdown-toggle::before {
        background-image: $sidebar-nav-dropdown-indicator-hover;
      }
    }
  }
  .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: $sidebar-nav-title-color;
    text-transform: uppercase;
  }

  .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out;

    .nav-item {
      padding: 0;
      list-style: none;
    }
  }
  .nav-dropdown-toggle {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      right: $sidebar-nav-link-padding-x;
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;
      margin-top: -4px;
      content: "";
      background-image: $sidebar-nav-dropdown-indicator;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s;
    }
  }

  .nav-dropdown.open {
    background: $sidebar-nav-dropdown-bg;
    @include borders($sidebar-nav-dropdown-borders);
    @if $enable-sidebar-nav-rounded {
      border-radius: $border-radius;
    }
    .nav-dropdown-items {
      max-height: 1500px;
    }

    .nav-link {
      color: $sidebar-nav-dropdown-color;
      border-left: 0;
    }

    .nav-dropdown-toggle::before {
      transform: rotate(-90deg);
    }

    .nav-dropdown.open {
      border-left: 0;
    }
  }

  .sidebar-minimizer {
    position: relative;
    flex: 0 0 $sidebar-minimizer-height;
    cursor: pointer;
    background-color: $sidebar-minimizer-bg;
    border: 0;
    @include borders($sidebar-minimizer-borders);
    &:hover {
      background-color: $sidebar-minimizer-hover-bg;
    }
    // &:hover:before {
    //   background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
    // }
    &:focus {
      outline: 0;
    }
  }
  .sidebar-minimizer::before {
    position: absolute;
    top: 0;
    right: 0;
    width: $sidebar-minimizer-height;
    height: $sidebar-minimizer-height;
    content: "";
    background-image: $sidebar-minimizer-indicator; //url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: $sidebar-minimizer-height/4;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    &:hover {
      background-image: $sidebar-minimizer-hover-indicator; //url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
    }
  }
  .side-profile {
    color: #fff;
    background-color: #192d3e;
    .profile-img-container {
      display: flex;
      width: 100%;
      flex-direction: row;
    }
    .profile-img-wrapper {
      // left: 50%;
      width: 72px;
      height: 72px;
      padding: 8px;
      border-radius: 50%;
      position: absolute;
      // transform: translateX(-50%);
      background: #121212;
      box-sizing: content-box;
      transition: all 150ms;
      img {
        border-radius: 50%;
        color: transparent;
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        text-indent: 10000px;
      }
    }
  }
}

.sidebar-show .sidebar {
  margin-left: 0;
}
.sidebar-minimized .sidebar {
  width: 50px;
  flex: 0 0 50px;
  .nav {
    width: 50px;
  }
  .nav-item {
    width: 50px;
    overflow: hidden;
    &:hover {
      width: 250px;
      overflow: visible;
    }
  }

  .nav-link {
    position: relative;
    padding-left: 0;
    margin: 0;
    white-space: nowrap;
    border-left: 0;
    .nav-icon {
      display: block;
      float: left;
      width: 50px;
      font-size: 18px;
    }
    .badge {
      position: absolute;
      right: 15px;
      display: none;
    }
    &.nav-dropdown-toggle::before {
      display: none;
    }
  }
  .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #24282c;
    &:before {
      width: 100%;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  .d-minimized-none,
  .nav-divider,
  .nav-label,
  .nav-title,
  .sidebar-footer,
  .sidebar-form,
  .sidebar-header {
    display: none;
  }
  .side-profile {
    display: none !important;
  }

  .nav-item {
    width: $sidebar-minimized-width;
    overflow: hidden;

    &:hover {
      width: $sidebar-min-width + $sidebar-minimized-width;
      overflow: visible;

      > .nav-link {
        background: $sidebar-nav-link-hover-bg;

        .nav-icon {
          color: $sidebar-nav-link-hover-color;
        }
      }
    }
  }

  .nav-dropdown-items {
    .nav-item {
      width: $sidebar-min-width;

      .nav-link {
        width: $sidebar-min-width;
      }
    }
  }

  .nav > .nav-dropdown {
    .nav-dropdown-items {
      display: none;
      max-height: 1000px;
      background: $sidebar-bg;
    }

    &:hover {
      background: $sidebar-nav-link-hover-bg;
      .nav-dropdown-items {
        position: absolute;
        left: $sidebar-minimized-width;
        display: inline;
      }
    }
  }
}
