
@import "variables/colors";
// Import Bootstrap variables after customization for use below
@import ".../../../../../../node_modules/bootstrap/scss/functions"; // from bootstrap node_modules
@import ".../../../../../../node_modules/bootstrap/scss/variables"; // from bootstrap node_modules



//
$body-bg: #f3f2f1;
$banner-height:300px;
// Navbar
$navbar-height: 54px !default;
$navbar-bg: #fff !default;
$navbar-color: $gray-600 !default;
$navbar-hover-color: $gray-800 !default;
$navbar-active-color: $gray-800 !default;
// Footer
$footer-height: 50px !default;
$footer-bg: $gray-100 !default;
$footer-color: $body-color !default;
$footer-borders: (top:
      (
        size: 1px,
        style: solid,
        color: $border-color
      )) !default;

